:root {
    --theme-phone:
     radial-gradient( hsl(225, 96%, 50%) 5%, hsl(0, 0%, 5%)88%);

    --glass-screen:
     linear-gradient(290deg, rgba(47, 47, 47, 0.709), rgba(255, 255, 255, 0.3));

    --theme-title: #f4f4f4;

    --theme-letters:#ffffff;

    --shadow-details:#dcdcdc3b;

    --theme-links:hsl(226, 78%, 66%);
}